ul.nav.nav-pills{
  float:right;
  width:inherit;
  padding-top:20px;
}

ul.nav.nav-tabs{
  float:right;
}

img{
  padding:3px;
}

footer{
  height:auto;
  background-color:rgb(57,55,55);
  width:inherit;
}

div.col-md-2.col-md-offset-5{
  padding:20px;
}

div.col-md-3.col-md-offset-5{
  padding:35px;
}

img#fb{
}

p.text-center{
  color:white;
  font-size:small;
}

footer#section{
  background-color:inherit;
  align-content:center;
}

div.row{
  width:1024px;
}

div.col-md-5.col-md-offset-6{
  padding-top:50px;
}

img#section{
  float:right;
  text-align:left;
}

p#center{
  text-align:center;
}

p#center1{
  text-align:center;
}

div#top.row{
  width:100%;
  height:auto;
  margin-bottom:10px;
}

div.col-md-5{
  padding-left:70px;
}

div#footer.col-md-5.col-md-offset-5{
  padding-top:50px;
}

div.carousel-inner{
  height:300px;
}

div#middle.container{
  height:300px;
}

div#footer.col-md-4.col-md-offset-4{
  padding-top:50px;
}

div.item.active{
  height:300px;
}

div#carousel-1.carousel.slide{
  height:300px;
}

div#footer.col-md-4.col-md-offset-6{
  padding-top:40px;
}

div#footer.col-md-3.col-md-offset-6{
  padding-top:40px;
}

div.jumbotron{
  height:350px;
  background:url(../../assets/img/city_bg.jpg) no-repeat center;
  background-size:cover;
}

p{
  text-align:center;
  color:white;
}

div.row.tron{
  height:260px;
}

h2.text-center{
  color:white;
}

p#tron{
  color:white;
}

nav.navbar.navbar-default{
  float:right;
  height:60px;
  margin-top:5px;
}

p#head.text-right{
  color:white;
}

aside{
  height:8px;
}

.page-header{
  padding-bottom:9px;
  margin:40px 0 20px;
}

h1#who{
  border-bottom:3px solid #c9c6c6;
}

input.form-control.input-sm{
  width:200px;
  float:right;
}

form{
  height:230px;
}

label{
  display:inline-block;
  max-width:100%;
  font-weight:700;
  margin-left:50px;
  float:left;
}

select.form-control.input-sm{
  float:right;
  width:200px;
}

button.btn.btn-default{
  float:right;
}

button.btn.btn-primary{
  float:right;
}

h1{
  font-size:large;
}

section#form{
}

section#mid{
  background-color:white;
  height:630px;
  width:inherit;
  margin-left:100px;
}

section{
  height:auto;
  margin-bottom:70px;
}

div#form{
  height:240px;
}

p.text-left{
  color:inherit;
}

div#midcolumn{
  height:auto;
  text-align:center;
  border:3px solid #c9c6c6;
  width:200px;
  margin-top:100px;
  font-size:small;
  font-style:italic;
}

li{
  margin:10px;
}

div.col-md-6{
}

div#topcontainer.container{
  height:120px;
  width:inherit;
  background-color:rgb(88,65,65);
}

div.table-responsive{
  width:500px;
}

button.btn.btn-default.btn-lg{
  margin-top:30px;
}

div.col-md-2{
  margin-top:40px;
}

div.col-md-4{
  margin-top:30px;
}

td#left{
  color:blue;
}

td.left{
  color:blue;
}

